<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='foldercss/style.css') }}" />
<script src = "{{ url_for('static', filename='first.js') }}"></script>
</head>
<body style="background-color: gray;">
{% if user.is_authencticated %}
<div id = "logowaniediv"><a href="logout" id = "logowanie">Log out</a></div>
<div id = "registerdiv"><a href="user">Blog</a></div>
{% else %}
<div id = "logowaniediv"><a href="login" id = "logowanie">Log in</a></div>
<div id = "registerdiv"><a href="sign-up">Register</a></div>
{% endif %}
<a href="{{ url_for('views.home') }}">    <image src="{{ url_for('static', filename='foty/owl.jpg') }}" id = "logo" alt=""></a>
<div class = "menu">
    {% if user.is_authenticated %}
    <div ><a href="logout" id = "logowanie">Log out</a></div>
    <div ><a href="user">Blog</a></div>
    {% else %}
    <div ><a href="login" id = "logowanie">Log in</a></div>
    <div ><a href="sign-up">Register</a></div>
    {% endif %}
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert"></button>
      <span aria-hidden="true">&times;</span>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for message in messages %}
  {% if category == 'succes' %}

    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}
<div id="loginekran">
    <image src="{{ url_for('static', filename='foty/owl.jpg') }}" id = "logo" alt="">
    <h1 style="color: black; margin-top: 0px;">Login</h1>
    <form name="dane_osobowe" action="" method="POST">
        <table>
            

            <tr><td>Login</td><td><input class="inpt" type="text" name="f_login"></td> <td> <span class="err" id="e_login" /></td></tr> 
            <tr><td>Hasło</td><td><input class="inpt" type="password" name="f_haslo1" ></td> <td> <span class="err" id="e_haslo1" /></td></tr> 
            
                
            <tr><td colspan="2"><input type="submit" value="Zaloguj się
                " onclick = "return validatelog(this.form); validatelog(this.form);" class = "button"></td></tr>
        </table>
    </form>
</div>

<footer id = "footer">Bartek Ruszkowski</footer>
</body>
</html>