<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="foldercss/style2.css">
<script src="first.js"></script>
</head>
<body style="background-color: gray;">
<header>
    <div id = "logowaniediv"><a href="login.html">Log in</a></div>
    <div id = "registerdiv"><a href="regist.html">Register</a></div>
    <a href="proba.html"><img src="foty/owl.jpg" id = "logo" alt=""></a>
    <div class = "menu">
        <a href="">Sklep </a>
        <a href=""> Blog </a>
        <a href=""> Newsletter</a>
    </div>
</header>
<footer id = "footer">
    Bartek Ruszkowski
</footer>
</body>
</html>